.wrapper {
  margin: 15px;
  background-color: white;
}

p {
  font-size: larger;
}

a {
  font-size: larger;
}

header {
  background-color: white;
  width: (100% - 20px);
  border-radius: 0.5em;
  padding: 1em;
}

body {
  background-color: rgb(234, 224, 246);
  /* rgb(236, 204, 203); */
  margin: 20px;
  font-family: "Tw Cen MT", CenturyGothic, sans-serif;
  font-weight: 100;
}

h1 {
  font-size: 105px;
  font-weight: 100;
  margin: 0;
}

h2 {
  font-size: 28px;
}

header h2 {
  font-size: 53px;
  font-weight: 100;
  margin: 0;
}

h2,
h3,
h4 {
  font-weight: 500;
}

h5 {
  font-weight: 100;
}

.description {
  margin-left: 4em;
  line-height: 1.25;
}

.description-block {
  width: 66%;
}

.profile-pic {
  width: 300px;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;

  overflow-x: hidden;
  padding-top: 20px;
  margin-top: 20px;
  margin-right: 20px;
}

.side {
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 225px;
  right: 0;
  height: 175px;
  overflow-x: hidden;
  padding-top: 20px;
  margin-top: 20px;
  margin-right: 70px;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5em;
}

.side-text {
  margin-left: 20px;
  width: 80%;
  padding: 0.5em;
  position: absolute;
  bottom: 0;
}

.main {
  margin-right: 320px; /* Same as the width of the sidebar + margin */
  padding: 0px 10px;
}

/* when in a bigger screen */
@media (min-width: 1000px) {
  .project-grid {
    grid-template-columns: repeat(2, 1fr);
    margin-left: 4em;
    margin-right: 8em;
  }
}

/* when in a smaller screen */
@media (max-width: 1000px) {
  .description-block {
    width: 100%;
  }
  .description {
    margin-left: 0em;
  }

  .profile-pic {
    margin-right: 5px;
  }

  .side {
    margin-right: 55px;
  }

  p {
    font-size: 28px;
  }

  a {
    font-size: 24px;
  }

  h3,
  h4,
  h5 {
    font-size: 30px;
  }
}

.project-grid {
  max-width: 1200px;
  display: grid;
  grid-gap: 2em;
  margin-left: 0em;
  margin-right: 0em;
}

.project {
  padding: 10px;
  border-radius: 0.5em;
  background-color: rgb(216, 205, 227);
}

.tools {
  font-size: 12px;
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.github-logo {
  color: black;
}

.github-logo:hover {
  color: rgba(122, 88, 157, 1);
}

.side a {
  text-decoration: none;
  color: black;
}

.side a:hover {
  color: rgba(122, 88, 157, 1);
  font-weight: bold;
}

.side-text i {
  padding-top: 0.5em;
}

.out-text {
  text-decoration: line-through;
}
